<!DOCTYPE html>
<html>
<body>
<a href="{% url 'cart' %}">cart</a>
<h1><a href="{% url 'index' %}">Amazing</a></h1>
{{item.name}}
{{item.seller_name}}
{{item.price}}
<br/>
<form id="addform" method="post" action="{% url 'add' %}?id={{item.id | urlencode}}">
{% csrf_token %}
<input type="submit" value="add to cart">

</form>

<form id="addform" method="post" action="">
{% csrf_token %}
{% if user.is_authenticated %}
<br/>
Submit your review below:
<br/>
{{reviewForm}}
<br/>
<input type="submit" value="Submit Review">
{% csrf_token %}
<br/>
{% endif %}
<br/>
{% for review in reviews %}
{{review.user}}:
{{review.review}}
<br/>
<br/>
{% endfor %}

</form>
</body>
</html>