<!DOCTYPE html>
<html>
<body>
<h1><a href="{% url 'index' %}">Amazing</a></h1>

<p>--------------------------------------</p>
<p>order number: {{order.pk}}</p>
<p>purchase date: {{order.purchase_date}}</p>
<p>address: {{order.address}}</p>
<p>city: {{order.city}}</p>
<p>state: {{order.state}}</p>
<p>zip code: {{order.zip_code}}</p>
<p>card number: {{order.card_number}}</p>
<p>card name: {{order.card_name}}</p>
<p>card expiration: {{order.card_month}}/{{order.card_year}}</p>
<p>Back to orders</p>
<p>--------------------------------------</p>

</form>
</body>
</html>